
#container {
  width: 95%;
}

.main-header {
  img#logo {
    margin: auto;
    width: 65%;
    transition: width 2s;
  }
}

#content {
  width: 100%;
  float: none;
  transition: width 1s;
}
#sidebar {
  width: 100%;
  float: none;

  .block {
    margin-left: 0;
  }
}

