@media only screen and (min-width: 240px) and (max-width: 568px) {
  #container {
    width: 95%;
  }

  .main-header {
    img#logo {
      width: 95% !important;
    }
    .main-nav {
      height: auto;
      display: block;
      overflow: hidden;
      width: 99%;

      ul {
        padding: 2% 1%;
        text-align: center;
        width: 98%;
      }

      li {
        float: none;
        display: block;
        margin-right: 0;
        width: 100%;
        border-bottom: 1px solid #a3293b ;

        a {
          display: block;
          margin-bottom: 2px;
          text-align: center;

          &:hover, a.active {
            display: block;

          }
        }
      }
    }
  }
  @import "media";

}