$color-grey: #666;
$color-red: #781a26;
$color-white: #fff;
$color-red-two: #c13046;
$color-black: #000;
$color-red-three: #882433;
body {
  background: #ececec url(../images/sos.png) repeat;
  font: {
    size: 87.5%;
    family: arial, sans-serif;
  }
  color: $color-grey;
  line-height: 1.7em;
  text-align: left;
}

  a {
    text-decoration: none;
    color: $color-red;

    &:hover {
      color: $color-grey;
    }
  }

  h2 {
    color: $color-red;
  }

  .clr {
    clear: both;
  }

  #container {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    clear: both;
  }

  .main-header {
    img#logo {
      display: block;
      width: 45%;
      margin: 10px 0;
      transition: width 2s;
    }

    .main-nav {
      background: $color-red-three;
      height: 40px;
      border-radius: 5px;
      border: 1px solid $color-red-two;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline;
        float: left;
        margin-right: 3px;

        a {
          color: $color-white;
          display: inline-block;
          padding: 10px 20px;
          height: 20px;

          &:hover, &.active {
            background: #efeadd;
            color: $color-grey ;
            border-radius: 5px;
          }
        }
      }
    }

 }

  #content  {
    width: 70%;
    float: left;
    overflow: auto;
    transition: width 1s;

    article {
      border-radius: 5px;
      overflow: auto;
      background: $color-white;
      padding: 10px 15px;
      margin-top: 10px;

      span {
        font-style: italic;
        color: $color-black;
        }

    }

    a.readmore {
      display: block;
      float: right;
      color: $color-grey;
      padding: 5px 9px;
      background: $color-red-two;
      border-radius: 5px;

      &:hover {
        background: $color-black;
      }
    }
  }

  #sidebar {
    width: 30%;
    float: left;

    .block {
      border-radius: 5px;
      background: $color-white;
      margin: 10px 0 0 10px;
      padding: 10px 15px;
      overflow: auto;
    }

    footer {
      background:  $color-red-three;
      height: 40px;
      border: $color-red-two 1px solid;
      border-radius: 5px;
      margin-top: 10px;

      p {
        color: $color-white;
        margin: 0;
        padding: 10px 0 0 0;
        text-align: center;
      }
    }
  }

@import "tablet_ipad";
@import "small_tablets";
@import "smartphone";


