body {
  background: #ececec url(../images/sos.png) repeat;
  font-size: 87.5%;
  font-family: arial, sans-serif;
  color: #666;
  line-height: 1.7em;
  text-align: left; }

a {
  text-decoration: none;
  color: #781a26; }
  a:hover {
    color: #666; }

h2 {
  color: #781a26; }

.clr {
  clear: both; }

#container {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  clear: both; }

.main-header img#logo {
  display: block;
  width: 45%;
  margin: 10px 0;
  transition: width 2s; }
.main-header .main-nav {
  background: #882433;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c13046; }
  .main-header .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-header .main-nav li {
    display: inline;
    float: left;
    margin-right: 3px; }
    .main-header .main-nav li a {
      color: #fff;
      display: inline-block;
      padding: 10px 20px;
      height: 20px; }
      .main-header .main-nav li a:hover, .main-header .main-nav li a.active {
        background: #efeadd;
        color: #666;
        border-radius: 5px; }

#content {
  width: 70%;
  float: left;
  overflow: auto;
  transition: width 1s; }
  #content article {
    border-radius: 5px;
    overflow: auto;
    background: #fff;
    padding: 10px 15px;
    margin-top: 10px; }
    #content article span {
      font-style: italic;
      color: #000; }
  #content a.readmore {
    display: block;
    float: right;
    color: #666;
    padding: 5px 9px;
    background: #c13046;
    border-radius: 5px; }
    #content a.readmore:hover {
      background: #000; }

#sidebar {
  width: 30%;
  float: left; }
  #sidebar .block {
    border-radius: 5px;
    background: #fff;
    margin: 10px 0 0 10px;
    padding: 10px 15px;
    overflow: auto; }
  #sidebar footer {
    background: #882433;
    height: 40px;
    border: #c13046 1px solid;
    border-radius: 5px;
    margin-top: 10px; }
    #sidebar footer p {
      color: #fff;
      margin: 0;
      padding: 10px 0 0 0;
      text-align: center; }

@media only screen and (min-width: 768px) and (max-width: 960px) {
  #container {
    width: 95%; }

  .main-header img#logo {
    margin: auto;
    width: 65%;
    transition: width 2s; }

  #content {
    width: 100%;
    float: none;
    transition: width 1s; }

  #sidebar {
    width: 100%;
    float: none; }
    #sidebar .block {
      margin-left: 0; }

  .main-header .main-nav {
    display: block;
    transition: height 1s; } }
@media only screen and (min-width: 569px) and (max-width: 767px) {
  #container {
    width: 95%; }

  .main-header .main-nav {
    height: auto;
    display: block;
    overflow: hidden;
    width: 99%; }
    .main-header .main-nav ul {
      padding: 2% 1%;
      text-align: center;
      width: 98%; }
    .main-header .main-nav li {
      float: none;
      display: block;
      margin-right: 0;
      width: 100%;
      border-bottom: 1px solid #a3293b; }
      .main-header .main-nav li a {
        display: block;
        margin-bottom: 2px;
        text-align: center; }
        .main-header .main-nav li a:hover, .main-header .main-nav li a a.active {
          display: block; }

  #container {
    width: 95%; }

  .main-header img#logo {
    margin: auto;
    width: 65%;
    transition: width 2s; }

  #content {
    width: 100%;
    float: none;
    transition: width 1s; }

  #sidebar {
    width: 100%;
    float: none; }
    #sidebar .block {
      margin-left: 0; }

  .main-header .main-nav {
    transition: width 1s; } }
@media only screen and (min-width: 240px) and (max-width: 568px) {
  #container {
    width: 95%; }

  .main-header img#logo {
    width: 95% !important; }
  .main-header .main-nav {
    height: auto;
    display: block;
    overflow: hidden;
    width: 99%; }
    .main-header .main-nav ul {
      padding: 2% 1%;
      text-align: center;
      width: 98%; }
    .main-header .main-nav li {
      float: none;
      display: block;
      margin-right: 0;
      width: 100%;
      border-bottom: 1px solid #a3293b; }
      .main-header .main-nav li a {
        display: block;
        margin-bottom: 2px;
        text-align: center; }
        .main-header .main-nav li a:hover, .main-header .main-nav li a a.active {
          display: block; }

  #container {
    width: 95%; }

  .main-header img#logo {
    margin: auto;
    width: 65%;
    transition: width 2s; }

  #content {
    width: 100%;
    float: none;
    transition: width 1s; }

  #sidebar {
    width: 100%;
    float: none; }
    #sidebar .block {
      margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
